.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #6A9033; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #6A9033; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.container {
    background-color: #f5f5f5; /* Hintergrundfarbe */
    padding: 20px; /* Innenabstand */
    border: 2px solid #ddd; /* Rahmen */
    border-radius: 8px; /* Abgerundete Ecken */
    display: flex; /* Flexbox für bessere Anordnung */
    gap: 20px;
}

.box {
    .container {
        display: flex;

        gap: 10px; /* Optional: Abstand zwischen Boxen */
    }

    .box {
        fwidth: calc(50% - 10px); /* Nimmt 50% der Breite abzüglich des Abstands ein */
        border: 1px solid #ccc;
        padding: 10px;
        background-color: #f4f4f4;
        box-sizing: border-box; /* Sorgt für korrekte Breitenberechnung */
    }
    .slider-values {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        font-size: 14px;
        color: #333;
    }
    #auszahlung {
        padding-top: 20px
    }
.button {
margin-top: 15px;
color: #333;
}
@media screen and (max-width: 255px) {
    body {
        font-size: 14px;
        padding: 10px;
    }

    .container {
        width: 100%;
        flex-direction: column;

    }
}
body {
  background-color: white;
  color: black;
}

/* Überschreiben von Dark Mode-Einstellungen */
@media (prefers-color-scheme: dark) {
  body {
    background-color: white !important;
    color: black !important;
  }
}
.box {
background-color: white !important;
--bulma-box-background-color: white !important;
}
}